@{ Layout = "~/Views/Shared/_layout.cshtml"; }
@model IronBank.ViewModels.LoginInformation


<div class="row">
    <div class="col-md-4 col-md-offset-4">
        @if (Html.ViewData.ModelState["LoginError"] != null) {
            foreach (var error in Html.ViewData.ModelState["LoginError"].Errors) {
            <div class="alert alert-danger text-center">@error.ErrorMessage</div>
            }
        }
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">        
        <form action="/auth/login" method="post">
            @Html.Hidden("ReturnUrl", Request["ReturnUrl"])
            <div class="form-group">
			    <label for="username">Username</label>
			    <input name="username" type="text" placeholder="Username" class="form-control" />
		    </div>
		    <div class="form-group">
			    <label for="password">Password</label>
			    <input name="password" type="password" placeholder="password" class="form-control" />
		    </div>
            <span class="pull-right">
		        <button type="submit" class="btn btn-primary">Login</button>
            </span>
        </form>
    </div>
</div>