@{ Layout = "~/Views/Shared/_layout.cshtml"; }

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>Services</h1>
            <p>
                This is the service area of the site. As you can see, it's not available yet but I promise it will be soon!
                From here you'll be able to register services and pay them.
            </p>
        </div>
    </div>
</div>