@{ Layout = "~/Views/Shared/_layout.cshtml"; }

@model System.Collections.Generic.IList<IronBank.Models.ConfiguredService>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <table class="table table-hover">
            <tr>
                <th>Service Name</th>
                <th>Contract Reference</th>
                <th>Pending Balance</th>
            </tr>
            @foreach (var cfgService in Model) {
            <tr>
                <td>@cfgService.Service.Name</td>
                <td>@cfgService.ContractReference</td>
                @if (cfgService.PendingBalance == 0)
                {
                <td>--</td>
                } else {
                <td><i class="fa fa-money"></i> @cfgService.PendingBalance</td>
                }
            </tr>
            }
        </table>
        <span class="pull-right">
            <a href="/services/configure" class="btn btn-primary">Configure New Service</a>
        </span>
    </div>
</div>