@inherits System.Web.Mvc.WebViewPage

@System.Web.Optimization.Styles.Render("~/Content/bootstrap")
@System.Web.Optimization.Scripts.Render("~/bundles/bootstrap")

<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <h1 class="text-center">Hello World!</h1>
    </div>
</div>